h1 {
    color: red;
    background-color:indigo;
}
h3 {
	color: pink;
    background-color:indigo;
}
h6 {
	color: yellow;
    background-color:indigo;
}

a {
    color: aqua;
    background-color:darkslategray;
}